body {
    font-family: "Montserrat", sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin-top: 70px;
}

.container {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.back-link {
    position: absolute;
    top: 20px;
    left: 20px;
    text-decoration: none;
    color: #4e75ff;
    font-weight: bold;
    
}

.back-link:hover {
    color: #6c8cff;
}

input[type="text"] {
    padding: 10px;
    width: 100%;
    max-width: 250px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
}

button[data-start] {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #4e75ff;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

button[data-start]:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

button[data-start]:hover:not(:disabled) {
    background-color: #6c8cff;
}

.timer {
    display: flex;
    justify-content: center;
    gap: 15px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.field {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.value {
    font-size: 37px;
    font-weight: normal;
    color: #4e75ff;
}

.label {
    font-size: 14px;
    color: #555;
}